*.log
logs/
dataset/
__pycache__/
*.pyc
.vscode/
*.mp4
**/*.mp4

src/env/data/
setup/config.cfg
setup/prepare_dm_control_xp.sh

logs_k_ablation/
*.out

pair_t_test/
exp/
logs_teacher_rl/
logs_student_rl/
logs_student_rl_1/
logs_teacher_rl_1/
vis/
预训练光流的日志/
logs_fps_walker_walk_seed50_both_10k